oops/(a) Sierpinski Gasket.png
oops/(b) Square.png
oops/(d) Tree.png
oops/(c) Barnsley Fern.png
Latex_SimulationHW/SimulationHW/Simulation.aux
Latex_SimulationHW/SimulationHW/Simulation.lof
*.log
Latex_SimulationHW/SimulationHW/Simulation.log
Latex_SimulationHW/SimulationHW/Simulation.lot
Latex_SimulationHW/SimulationHW/Simulation.pdf
Latex_SimulationHW/SimulationHW/Simulation.toc
*.gz
Latex_SimulationHW/SimulationHW/Simulation.out
*.lot